<body style="background-color: #d2c9ff ;">
<section class="h-100 h-custom" style="background-color: #d2c9ff ">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-8">
                <div class="p-5">
                  <div class="d-flex justify-content-between align-items-center mb-5">
                    <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                    <h6 class="mb-0 text-muted">{{cartCount}} items</h6>
                  </div>
                  <hr class="my-4">
                  {{#each products}}

                  <div class="row mb-4 d-flex justify-content-between align-items-center">
                    
                   
                    <div class="col-md-2 col-lg-2 col-xl-2">
                      <img
                        src="/product-images/{{this.product._id}}.jpg"
                        class="img-fluid rounded-3" alt="Cotton T-shirt">
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3">
                      <h6 class="text-muted">{{this.product.category}}</h6>
                      <h6 class="text-black mb-0">{{this.product.description}}</h6>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                      <button class="btn btn-link px-2 fs-1 text-decoration-none" onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user._id}}',-1)">-</button>
                <span class="fs-5 mt-4 me-3" id="{{this.product._id}}">{{this.quantity}}</span>
                <button class="btn btn-link px-2 fs-3 text-decoration-none"  onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user._id}}',1)">+</button>
                
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                      <h6 class="mb-0">₹{{this.product.offerPrice}}</h6>
                    </div>
                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                      <a  onclick="removeCartProduct('{{this._id}}','{{this.product._id}}')" class="text-muted"><i class="fas fa-times"></i></a>
                    </div>
                  </div>
                  <hr class="my-4">
                   {{/each}}

                  <div class="pt-5">
                    <h6 class="mb-0"><a href="/" class="text-body"><i
                          class="fas fa-long-arrow-alt-left me-2"></i>Back to shop</a></h6>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 bg-grey">
                <div class="p-5">
                  <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-4">
                    <h5 class="text-uppercase">items {{cartCount}}</h5>
                    <h5 id="total">₹ {{total}}</h5>
                  </div>

                  <h5 class="text-uppercase mb-3">Shipping</h5>

                  <div class="mb-4 pb-2">
                    <select class="select">
                      <option value="1">Standard-Delivery- €5.00</option>
                      <option value="2">Two</option>
                      <option value="3">Three</option>
                      <option value="4">Four</option>
                    </select>
                  </div>

                  <h5 class="text-uppercase mb-3">Give code</h5>

                  <div class="mb-5">
                   <form action="/applycoupon" id="coupon"></form>
                    <div class="form-outline">
                      <input type="text" id="form3Examplea2" form="coupon" placeholder="Enter Coupon code" name="code" class="form-control form-control-lg" />
                <p class="text-danger" id="userAll"></p>
                       <button type="submit" class="btn btn-success float-end mt-1" form="coupon">Apply</button>
                    </div>
                   
                  </div>

                  <hr class="my-4">
                 

                  <div class="d-flex justify-content-between mb-5">
                    <h5 id="total">₹ {{total}}</h5>
                    <h5></h5>
                  </div>

                  <a href="/place-order" class="btn btn-dark btn-block btn-lg"
                    data-mdb-ripple-color="dark">Go to checkout</a>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</body>
<style>
  @media (min-width: 1025px) {
.h-custom {
height: 100vh !important;
}
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
font-size: 1rem;
line-height: 2.15;
padding-left: .75em;
padding-right: .75em;
}

.card-registration .select-arrow {
top: 13px;
}

.bg-grey {
background-color: #eae8e8;
}

@media (min-width: 992px) {
.card-registration-2 .bg-grey {
border-top-right-radius: 16px;
border-bottom-right-radius: 16px;
}
}

@media (max-width: 991px) {
.card-registration-2 .bg-grey {
border-bottom-left-radius: 16px;
border-bottom-right-radius: 16px;
}
}
</style>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
  function changeQuantity(cartId,proId,userId,count){
    let quantity=parseInt(document.getElementById(proId).innerHTML)
   count=parseInt(count)
    $.ajax({
      url:'/change-product-quantity',
      data:{
        user:userId,
        cart:cartId,
        product:proId,
        count:count,
        quantity:quantity
      },
      method:'post',
      success:(response)=>{
        if(response.removeProduct){
          alert("product Removed From Cart")
          location.reload()
        }else{
         document.getElementById(proId).innerHTML=quantity+count
         document.getElementById('total').innerHTML=response.total
           location.reload()
         
         
         
        }
        
      }
    })
  }
  function removeCartProduct(cardId,proId){
                swal({
  text: 'Are you sure want Remove From Whishilist? ',
  icon:"warning",
  button: true,
  dangerMode:true,
  
})
.then((name) => {
    if(name){
    $.ajax({
      url:'/remove-product-cart',
      data:{
        cart:cardId,
        product:proId
      },
      method:'post',
      success:(response)=>{
     swal("Status Updated",{icon:"success"})
        location.reload()
      }
    })
    }
    })
  }




  $("#coupon").submit((e)=>{
    e.preventDefault()
    $.ajax({
      url:'/applycoupon',
      method:'post',
      data:$('#coupon').serialize(),
      success:(response)=>{     
        if(response.user){
          document.getElementById('userAll').innerHTML='already used';
        }else if(response.offerprice){
          console.log(response.offerprice)
            document.getElementById('total').innerHTML='₹'+response.offerprice;
            location.reload()

        }else
        {
           document.getElementById('userAll').innerHTML='cuopon invalid';
        }
      }
    })
  })
</script>