<style>
    #img-container{
        position:relative;
        z-index: 2;
    }

    <style>
:root{ --main-color: #e74c3c; }
.product-grid{
    font-family: 'Work Sans', sans-serif;
    border: 1px solid #ebebeb;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.5s;
}
.product-grid:hover{ border-color: #c1c1c1; }
.product-grid .product-image{ position: relative; }
.product-grid .product-image a.image{ display: block; }
.product-grid .product-image img{
    width: 100%;
    height: auto;
}
.product-grid .product-sale-label{
    color: #fff;
    background: #83b71c;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 2px 7px;
    border-radius: 5px;
    transform: skew(-18deg);
    position: absolute;
    left: 10px;
    top: 10px;
    transition: all 0.3s;
}
.product-grid .social{
    padding: 0;
    margin: 0;
    list-style: none;
    opacity: 0;
    position: absolute;
    top: -20px;
    right: 10px;
    transition: .4s ease-in-out;
}
.product-grid:hover .social{
    opacity: 1;
    top: 15px;
}
.product-grid .social li a{
    color: var(--main-color);
    background: #fff;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    height: 40px;
    width: 40px;
    margin: 0 0 10px;
    border-radius: 50%;
    display: block;
    position: relative;
    z-index: 1;
    transition: .4s ease-in-out;
}
.product-grid .social li a:hover{
    color: #fff;
    background: var(--main-color);
}
.product-grid .social li a:before,
.product-grid .social li a:after{
    content: attr(data-tip);
    color: #fff;
    background: #444;
    font-size: 12px;
    line-height: 20px;
    padding: 5px 10px;
    white-space: nowrap;
    display: none;
    transform: translateY(-50%);
    position: absolute;
    right: 53px;
    top: 50%;
}
.product-grid .social li a:after{
    content: '';
    height: 15px;
    width: 15px;
    padding: 0;
    transform: translateY(-50%) rotate(45deg);
    right: 50px;
    z-index: -1;
}
.product-grid .social li a:hover:before,
.product-grid .social li a:hover:after{
    display: block;
}
.product-grid .product-content{
    padding: 15px 10px;
    position: relative;
}
.product-grid .product-category{
    font-size: 14px;
    text-transform:uppercase;
    margin-bottom: 5px;
    display: block;
}
.product-grid .product-category a{
    color: #999;
    transition: all .4s ease 0s;
}
.product-grid .product-category a:hover{ color: var(--main-color); }
.product-grid .title{
    font-size: 18px;
    text-transform: capitalize;
    margin: 0 0 7px;
    display: block;
}
.product-grid .title a{
    color: #444;
    transition: all .4s ease 0s;
}
.product-grid .title a:hover{ color: var(--main-color); }
.product-grid .rating{
    padding: 0;
    margin: 0 0 7px;
    list-style: none;
}
.product-grid .rating li{
    color: #ffd200;
    font-size: 12px;
    display: inline-block;
}
.product-grid .rating li:last-child{ color: #999; }
.product-grid .rating li.disable{ color: #999; }
.product-grid:hover .rating{ opacity: 0; }
.product-grid .price{
    color: var(--main-color);
    font-size: 18px;
    font-weight: 600;
    opacity: 1;
    transition: .3s ease;
}
.product-grid .price span{
    color: #999;
    font-size: 15px;
    font-weight: 400;
    text-decoration: line-through;
    margin-left: 5px;
}
.product-grid:hover .price{ opacity: 0; }
.product-grid .add-to-cart{
    color: #fff;
    background: var(--main-color);
    font-size: 14px;
    font-weight: 600;
    padding: 8px 15px;
    border-radius: 50px;
    opacity: 0;
    position: absolute;
    bottom: 6px;
    left: 10px;
    transition: all 0.3s ease-in-out;
}
.product-grid .add-to-cart:hover{
    color: #fff;
    background: #444;
}
.product-grid:hover .add-to-cart{
    opacity: 1;
    transform: translateY(-16px);
}
.product-grid .add-to-cart:before,
.product-grid .add-to-cart:after{
    content: attr(data-tip);
    color: #fff;
    background: #444;
    font-size: 12px;
    line-height: 22px;
    padding:5px 10px;
    white-space: nowrap;
    display:none;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: -42px;
}
.product-grid .add-to-cart:after{
    content: '';
    height: 15px;
    width: 15px;
    transform: translateX(-50%) rotate(45deg);
    top: -22px;
    z-index: -1;
}
.product-grid .add-to-cart:hover:before,
.product-grid .add-to-cart:hover:after{
    display:block;
}
@media only screen and (max-width:990px){
    .product-grid{ margin-bottom: 30px; }
}
</style>
</style>
<section style="background-color: black; overflow-x: hidden;">
    <div class="container">
    <div class="row">
       <div class="col-6 co-xxl-2 col-xl-2 col-md-5 col-lg-4 col-sm-5 float-xl-end  float-md-end mt-3">
                  <div class="float-xl-end float-md-end float-lg-start" >
                      <a onclick="changeImage()" href="#">
                    <img class="zoom1" src="/product-images/{{product._id}}.jpg" style="width: 150px; hieght: 100px;">
                    </a>
                </div>
                 <div class="float-xl-end float-md-end">
                    <img class="zoom1" src="/product-images2/{{product._id}}.jpg" style="width: 150px; hieght: 100px;">
                </div>
                 <div  class="float-xl-end float-md-end mt-2">
                    <img class="zoom1" src="/product-images3/{{product._id}}.jpg" style="width: 150px; hieght: 100px;">
                </div> 
                
 

            </div> 



        <div class="col-6 col-display-block co-xxl-4 col-xl-4 col-lg-6 col-md-7 col-sm-7" >
              
        <div class="  float-xl-end float-md-end float-col-start" id="img-container">
     <img class="zoom" src="/product-images/{{product._id}}.jpg">
       </div>
        </div>
        <div class="col-12 co-xxl-6 col-xl-6 col-md-12 col-sm-12 col-lg-12 text-light " id="img1">
        
        <span class="fs-2 ">{{product.description}}</span>
         <p> <span  class="text-success fs-3">₹{{product.offerPrice}}</span><span class="text-danger text-decoration-line-through fs-5 ps-3" >₹{{product.orginalPrice}}</span> <span class="fs-3">{{product.offerpercentage}}%off</span></p>
        <p><span class="fs-5"> Available offers </span><br>

<i class="bi bi-bookmark-fill pe-1 text-success"></i>Bank Offer10% off on Slice Cards, up to ₹200. On orders of ₹1000 and  <a href="#" class="text-decoration-none">aboveT&C</a><br>

<i class="bi bi-bookmark-fill pe-1 text-success" ></i>Bank Offer5% Cashback on Flipkart Axis Bank a <a href="#" class="text-decoration-none" >CardT&C</a> <br>

<i class="bi bi-bookmark-fill pe-1 text-success"></i>Partner OfferBuy this product and get upto ₹500 off on Flipkart Furniture <a href="#" class="text-decoration-none"> Know More</a><br>

<i class="bi bi-bookmark-fill pe-1 text-success"></i>Partner OfferSign up for Men's card Pay Later and get Card worth ₹100* <a href="#" class="text-decoration-none">Know More</a><br>     
   

    <div class="dropdown">
        Available:
  <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
    size
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="#">small</a></li>
    <li><a class="dropdown-item" href="#">medium</a></li>
    <li><a class="dropdown-item" href="#">large</a></li>
    <li><a class="dropdown-item" href="#">extra large</a></li>
  </ul>
</div>
</span>
</p>

   
   <div class="text-center">
       <button onclick="addToCart('{{product._id}}')" class=" btn btn-dark btn-sm"><i class="fa fa-shopping-cart fa-lg text-light" id="cart-btn"> </i>Add to Cart</button>
    <button id="{{this._id}}"  onclick="addWishlist('{{product._id}}','{{userId}}')"  class=" btn btn-sm btn-dark">  <i class="fas fa-heart fa-lg text-light " id="cart-btn"></i>Add to Wishlist</button>
   </div>
      
        </div>
      </div>
            
        
  



        </div>
    </div>

<h3 class="text-center mt-5 text-light" style="background-color: black;"> RELATED PRODUCTS</h3>
<section style="background-color: black;">
    {{!-- <div class="container mt-5">
    <div class="row">
        {{#each relatedProduct}}
        <div class="col-md-3">
            <div class="card mt-3 xzoomr bg-light" style="width: 18rem;height:26rem;border-radius: 1rem">
               
  <div class="text-center">  <a href="/view-image/{{this._id}}">      
  <img src="/product-images/{{this._id}}.jpg" style="width: 200px;height:250px"  class="card-img-top mx-auto" alt="..."></a>
  </div>
  <div class="">
      <div class="d-flex">
        
    <p><span class="text-muted ms-5">{{this.brand}}</span>
     <br>
    <span class="justify-start" >{{this.description}}</span>
    
    <br><span><span class="text-success fs-5">₹{{this.offerPrice}} <span class="text-danger text-decoration-line-through fs-6">  ₹{{this.orginalPrice}}</span>
    <span class="fs-5"><span class=" fs-5 ms-3">{{this.offerpercentage}}% off</span></p>
    </div>
    
    <p class="text-center">
    <button onclick="addToCart('{{this._id}}')" class=" btn btn-sm btn-dark">Add to Cart</button>
    <button id="{{this._id}}" onclick="addWishlist('{{this._id}}','{{../userId}}')"  class=" btn btn-sm btn-dark">Add to Wishlist</button>
    </p>
    
    
  </div>
</div>
</div>
{{/each}}
        </div>
    </div> --}}






<div class="container mt-4" style="background-color: black;">
    <div class="row">
    {{#each relatedProduct}}
        <div class="col-md-3 col-sm-6">
            <div class="product-grid">
                <div class="product-image">
                    <a href="#" class="image">
                        <img class="pic-1" src="/product-images/{{this._id}}.jpg">
                    </a>
                    <span class="product-sale-label">-{{this.offerpercentage}}%</span>
                    <ul class="social">
                        <li><a  id="{{this._id}}" onclick="addWishlist('{{this._id}}','{{../userId}}')" data-tip="Add to Wishlist"><i class="fa fa-heart fa-lg mt-3"></i></a></li>
                        <li><a href="#" data-tip="Compare"><i class="fa fa-random fa-lg mt-3"></i></a></li>
                        <li><a href="/view-image/{{this._id}}" data-tip="Quick View"><i class="fa fa-eye fa-lg mt-3"></i></a></li>
                    </ul>
                </div>
                <div class="product-content">
                    <span class="product-category"><a href="#">{{this.description}}</a></span>
                    <h3 class="title"><a href="#">{{this.brand}}</a></h3>
                    <ul class="rating">
                       <li class="fas fa-star"></li>
                       <li class="fas fa-star"></li>
                       <li class="fas fa-star"></li>
                       <li class="fas fa-star"></li>
                       <li class="fas fa-star disable"></li>
                       <li>(2 review)</li>
                    </ul>
                    <div class="price text-success">₹{{this.offerPrice}} <span class="text-danger">₹{{this.orginalPrice}}</span></div>
                    <a class="add-to-cart bg-danger" onclick="addToCart('{{this._id}}')" data-tip="Add to Cart">ADD TO CART</a>
                </div>
            </div>
        </div>
      {{/each}}
    </div>
</div>











    
    </section>

</section>


<script>
    var options = {
        width: 400,
        height: 400,
        zoomWidth: 400,
        offset: {vertical: 0,horizontal: 10},
        scale: 1
    }

    new ImageZoom(document.getElementById("img-container"), options)


     function addToCart(proId){
            $.ajax({
                url:'/add-to-cart/'+proId,
                method:'get',
                success:(response)=>{
                    if(response.status){
                        let count=$('#cartCount').html()
                        count=parseInt(count)+1
                        $("#cartCount").html(count)
                        alert("Product is Added To Cart")
                
                    }
                    
                }
            })
        }

function addWishlist(proId,userId){
    $.ajax({
        url:'/add-wishilist',
        data:{
            proId:proId,
            userId:userId,
        },
        method:'post',
        success:(response)=>{
            if(response.status){
                let Wcount=$('#wishilistCount').html()
                Wcount=parseInt(Wcount)+1
                $("#wishilistCount").html(Wcount)
                alert("Product is Added To Wishilist")

            }

        
        
        }
})
}
$(document).ready(function(){
$(".zoom1").hover(function(){
    $(".zoom").attr('src',$(this).attr('src'
    ))

})
})

</script>